:root {
  --primarycolor: none; /* RGB alpha hexadecimal color notation */
  --secondarycolor:none
}
/* Réinitialiser les styles par défaut */
* {
    margin: 0;
    padding: 0;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    
}

h1 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    font-size: 48px;
}



/* Styles généraux */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre */
    align-items: center;
}

header {
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

footer {
    opacity: 80%;
    text-align: center;
    background-color: #000000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/******************************************************************************************/
/* BACKGROUND IMAGE */
.background-image {
  opacity: 60%;
  background-size: cover; /* Redimensionne l'image pour couvrir tout l'écran */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  position: fixed; /* Assurez-vous que l'image reste en arrière-plan */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Placez l'image en dessous de tout le contenu */
}

/******************************************************************************************/
/* PARTIE HEADER */

.header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#OdigoImage{
  text-align: center;
  width: 10%;
  margin-top: 10px;
}

hr.center-diamond {
    border: 0;
    height: 2px;
    width: 70vh;
    margin: 15px;
    background: var(--primarycolor);
    padding-bottom: 1px;
    /* Opera, Chrome, and Safari */
}

.black-block-container-motivation{
  opacity: 80%;
  background-color: #000000;
  border-radius: 5px;
  padding: 30px 25px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
  border-radius: 30px;
}
.black-block-container-motivation > p{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#motivation{
  font-size: 150%;/*24*/
}

/******************************************************************************************/
/* BLOCK DE GAUCHE ET DE DROITE */

.sticky-note {
  display: inline-block;
  opacity: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  background-color: var(--primarycolor); /* Couleur marron */
  width: 22%;
  padding: 5px;
  border: 8px solid var(--primarycolor); /* Bordure marron foncé */
  border-radius: 20px;
  overflow: auto;
  
}

.sticky-note h2 {
    font-size: 170%;/*28*/
    margin-bottom: 10px;
    color: #fff; /* Texte en blanc */
}

.sticky-note h3{
  margin-top: 15px;
  position: relative;
  font-size: 160%; /*18*/
  margin-bottom: 9px;
  color: white;
}

.block-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondarycolor);
  border-radius: 20px;
  margin-top: 10px;
}

.block-Text{
  display: flex;
  flex-direction: column;
  background-color: var(--secondarycolor);
  border-radius: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
.block-Text > h3{
  text-align: center;
}

.block-Text > h4{
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

h4 > span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: white;
}

.block-link h4{
  font-size: 90%; /*14*/
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.sticky-note a {
    font-size: 100%; /*16*/
    color: white; /* Texte en noir */
    text-decoration: none;
}

.categorie{
  display: flex;       /* Utilisez un conteneur flex */
  justify-content: space-between;  /* Centre les éléments horizontalement */
  align-items: flex-start;
}


.LogoAndToolTip{
  display: flex;
  flex: 1;
  max-width: 30%; /* Pour définir la largeur maximale des éléments */
  text-align: center;    /* Centre le contenu horizontalement */
  margin: 10px;          /* Marge autour de chaque conteneur */
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}
.LogoAndToolTip > a{
  display: flex;
  margin-top: 7px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  white-space: pre-line;
}
.LogoAndToolTip > img{
  flex: 0 0 auto;
  margin: auto;
  max-width: 40%;   /* Assure que l'image reste dans le conteneur */
  height: auto;      /* Maintient la proportion d'aspect */
}

.circle{
  border-radius: 50%;
}

.note-separation {
background: white;
border: 0;
height: 2px;
}


.block-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


  
/******************************************************************************************/

/* BARRE DE RECHERCHE */

#search {
	display: grid;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
	background: hsl(0, 0%, 99%);
  border-radius: 25px;
  margin-top: 15px;
}

#search input {
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
	outline-offset: -8px;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: var(--primarycolor);
	fill: none;
	stroke: currentColor;
}

#search > input{
  font-size: 100%;
}

.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 10;
	animation: bar-in 900ms 0.5s both;
}

@keyframes bar-in {
	0% { stroke-dasharray: 0 180 0 226 0 405 0 0 }
	100% { stroke-dasharray: 0 0 181 0 227 0 405 0 }
}

.magnifier {
	animation: magnifier-in 600ms 0.5s both;
	transform-box: fill-box;
}

@keyframes magnifier-in {
	0% { transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01); }
	50% { transform: translate(-4px, 8px) rotate(-45deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}



#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}
/******************************************************************************************/
/* HORLOGE DIGITAL */

.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}


.black-block-container-clock {
  display: flex;
  justify-content: center;
  max-height: 10%;
  width: 360px;
  margin-top: 15px;
  opacity: 80%;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
  border-radius: 30px;
  
}
.clock-col {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  margin-right: 25px;
  margin-left: 40px;
  min-width: 30px;
  position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  display: block;
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, .3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  right: -42px;
}
.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: #fff;
  font-size: 160%;
  text-transform: uppercase;
}
.clock-label {
  color: rgba(255, 255, 255, .35);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}

/******************************************************************************************/
/******* Table *******/
.table100{
  opacity: 80%;
  text-align: center;
  margin-top: 20px;
}

table {
  background-color: #fff
}

th,td {
  padding-right: 10px
}

.column100 {
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.column100.column1 {
  width: auto;
  padding-left: 42px
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px
}

.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: gray;
  line-height: 1.4
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: var(--secondarycolor)
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2
}


.table100.ver1 .row100 td:hover {
  background-color: var(--primarycolor);
  color: #fff
}
